.header-icons-container {
  display: none;
  &.active {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    ul {
      li {
        list-style-type: none;
        display: inline-block;
        margin: 0 20px;
        cursor: pointer;
        &:hover {
          color: white;
        }
      }
    }
  }
}