@import "./terminal";
@import "./header";
@import "./headerIcons";
@import "./portfolio";
@import "./modal";

body {
    margin: 0px;
}

.terminal-overlay, .portfolio-overlay {
    position: fixed;
    top: 105%;
    left: 0;
    width: 100%;
    height: 100%;
    // display: none;
    background: #fff;
    backface-visibility: hidden;
    z-index: 4;
    transition: all 0.5s;
    &.show {
        display: block;
        top: 1301px;
        transform: translate(0px, -1251px) translateZ(0px);
    }
}
