.terminal-overlay {
    position: fixed;
    top: 105%;
    left: 0;
    width: 100%;
    height: 100%;
    // display: none;
    background: #fff;
    backface-visibility: hidden;
    z-index: 4;
    transition: all 0.5s;
    &.show {
        display: block;
        top: 1301px;
        transform: translate(0px, -1251px) translateZ(0px);
    }
}

.terminal-container {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    border: 1px solid black;
    font-family: 'Inconsolata', 'monospace';
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .terminal-inner {
        margin: 5px;
    }

    .terminal-header {
        background: -webkit-linear-gradient(top, #e5e5e5 0%,#bababa 100%, #bababa 100%);
        background: -moz-linear-gradient(top, #e5e5e5 0%,#bababa 100%, #bababa 100%);
        background: -o-linear-gradient(top, #e5e5e5 0%,#bababa 100%, #bababa 100%);
        border-radius: 5px 5px 0px 0px;
        border-bottom: 1px solid #888;
        height: 13px;
        padding: 5px;
    }

    .terminal-span {
        display: block;
        text-align: center;
        color: #000;
        font-size: 11px;
        text-shadow: 0px 1px 0px #fff;
        font-family: "Open Sans", Sans-serif;
        padding: 0px 50px;
        line-height: 13px;
    }

    .terminalBtn{
        background: #f76b50;
        width: 12px;
        height: 12px;
        display: block;
        border-radius: 100%;
        box-shadow: 0px 1px 5px #853222 inset,0px 1px 0px rgba(255,255,255,0.5);
        float: left;
        margin:0px 5px;
    }

    .terminalBtn:before{
        content: '';
        border-radius: 100%;
        width: 7px;
        height: 3px;
        background: transparent;
        position: absolute;
        margin: -3px 3px;
        box-shadow: 0px 5px 3px white;
    }

    .terminalBtn:after{
        content: '';
        border-radius: 100%;
        width: 10px;
        height: 4px;
        background: transparent;
        position: absolute;
        margin: 2px 1px;
        box-shadow: 0px 5px 6px white;
    }

    .min{
        background: #f5bf67;
        box-shadow: 0px 1px 5px #876212 inset,0px 1px 0px rgba(255,255,255,0.5);
    } 

    .max{
        background: #a3db82;
        box-shadow: 0px 1px 5px #5a6e49 inset,0px 1px 0px rgba(255,255,255,0.5);
    }

    .prompt {
        white-space: nowrap;
        color: #533add;
        margin-right: 7px;
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-orient: vertical;
        display: -moz-box;
        -moz-box-pack: center;
        -moz-box-orient: vertical;
        display: box;
        box-pack: center;
        box-orient: vertical;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        font-weight: bold;

        .arrow {
            color: #3bbb33;
        }

        .repo {
            color: #3cbbc6;
        }

        .branch{
            color: #c13928;
        }

    }

    .cmdline {
        outline: none;
        background-color: transparent;
        margin: 0;
        width: 100%;
        font: inherit;
        border: none;
        color: inherit;
    }

    .input-line {
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-align: stretch;
        display: -moz-box;
        -moz-box-orient: horizontal;
        -moz-box-align: stretch;
        display: box;
        box-orient: horizontal;
        box-align: stretch;
        clear: both;
    }

    // .output {
    //     font-size: 13px;
    // }

    .input-line > div:nth-child(2) {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
    }

}
